<article>
    <form #categoryFormModel="ngForm" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field">
            <input matInput placeholder="Nome da Categoria" formControlName="nomeControl">

            <mat-error *ngIf="categoryForm.get('nomeControl').hasError('required')">
                Este campo é obrigatório
            </mat-error>

            <mat-error *ngIf="categoryForm.get('nomeControl').hasError('minlength')">
                Mínimo de 3 caracteres
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-button color="primary" [disabled]="!categoryForm.valid">Salvar</button>
    </form>
</article>